<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Editing <%= @student.first_name %> <%= @student.last_name %></h1>
        <form action='/dojos/<%= @branch.id %>/students/<%= @student.id %>' method='post'>
            <input type="hidden" name="_method" value="patch">
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'
            <p>First Name: <input type='text' name='student[first_name]'></p>
            <p>Last Name: <input type='text' name='student[last_name]'></p>
            <p>Email: <input type='text' name='student[email]'></p>
            <p>Dojo: <select name=''>
                <option><%= @branch.branch %>
            </select></p>
            <input type='submit' value='Create'>
        </form>
        <p><a href='/dojos/<%= @branch.id %>'>Home</a> | <a href='/dojos/<%= @branch.id %>/students/<%= @student.id %>'><%= @student.first_name %></a></p>
    </body>
</html>